*{
    font-family: 'Hind Vadodara', sans-serif;
}

h1{
    font-family: 'Open Sans', sans-serif;
}

h2{
    font-family: 'Prompt', sans-serif;
}

h3{
    font-family: 'Prompt', sans-serif;
}

header{
    text-align: center;
    padding: 10px;
}

li{
    list-style-type: none;
}

section{
    margin-bottom: 30px;
}

/* Menu Superior */

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}


ul a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

ul a:hover{
    color: #ff6600;
}

nav{
    position: sticky;
    top: 0%;
    background-color: white;
    padding-top: 1%;
    padding-bottom: 1%;
    z-index: 999;
}

/* Datos Personales */

#datosPersonales{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

#datosPersonales span:first-child{
    font-weight: bold;
}

.contenido{
    display: block;
    text-align: center;
}

.photoUser{
    width: 200px;
    height: auto;
    border-radius: 50%;
}

.redes{
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.btn{
    width: 70px;
    height: 70px;
    position: relative;
    font-size: 1.5rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn i{
    color: black;
    transition: all 0.3s ease-in-out;
}

.btn:hover .fa-brands{
    color: #ff6600;
    scale: 1.2;
}

/* Educación */

/* Revisar estos titulos */
h2{
    display: block;
    width: 75%;
    margin: auto;
    font-size: 30px;
    padding-bottom: 20px;
}

.grid{
    width: 90%;
    max-width: 1240px;
    margin: 0 auto;
    
    display: grid;
    
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    margin: auto;
    width: 80%;

    background: rgba( 255, 255, 255, 1 );
    box-shadow: 0 8px 10px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 0px );
    -webkit-backdrop-filter: blur( 0px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    transition: all 0.3s ease-in-out;
    position: relative;
}

.card:hover{
    box-shadow: 0 8px 32px 0 rgb(255, 102, 0, 0.37);

}

.grado{
    font-size: large;
    font-weight: bold;
    text-align: center;
} 

.institucion{
    color: gray;
    font-size: 14px;
}

.duracion{
    color: gray;
    font-size: 12px;
}

/* Experiencia */

.card ul li{
    list-style-type: square;
}

/* Tecnologias */

.contenedor-tecnologias{
    display: grid;
    width: 90%;
    max-width: 1240px;
    margin: 10px auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 20px;
}

.contenedor-tecnologias img{
    width: 100px;
    height: 100px;
}


/* Video */

/* Contacto */

#contacto div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    max-width: 500px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 8px 10px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 0px );
    -webkit-backdrop-filter: blur( 0px );
    padding-bottom: 0.5em;
}

input{
    border-radius: 5px;
    background-color: transparent;
    color: #000000;
    border-style: groove;
}

textarea{
    border-radius: 5px;
    background-color: transparent;
    color: #000000;
    border-style: groove;
}

label{
    font-weight: bold;
}

/* Footer */
footer p{
    text-align: center;
    margin-top: 25px;
    font-size: 14px;
    color: gray;
}

/* MEDIAQUERIES */

@media (max-width: 768px) {
    nav ul{
        display: none;
    }
    
}